%h3
  #{@transfer.email_from} sent you some files

%p
  .btn.btn-round
    Download

%h5
  %b
    Files
    = link_to "#{@transfer.attachment.file.filename}", download_file_transfer_url(@transfer.id, host: ENV['MAIL_HOST'])