%h3
  Files successfully sent to #{@transfer.email_to}

%p
  As soon as a recipient has downloaded your files, you will receive a confirmation email.

%h4
  %b
    Recipients
    #{@transfer.email_to}

%h4
  %b
    Files
    - if @transfer.transfer_attachments.present?
      - @transfer.transfer_attachments.each do |attachment|
        %h4
          #{attachment.avatar_identifier}

%h4
  Will be deleted on #{l(@transfer.deleted_on.to_date, format: :long)}