.container-fluid
  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    .carousel-inner
      .item.active
        %img{:src => "/assets/backgrounds/5.jpg", :style => "width:100%;"}/
      .item
        %img{:src => "/assets/backgrounds/6.jpg", :style => "width:100%;"}/
      .item
        %img{:src => "/assets/backgrounds/7.jpg", :style => "width:100%;"}/